* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.menu__bar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 346px;
}

.header__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    padding-right: 14px;
}

.black {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orange {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu {
    margin-top: 11px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.menu__link {
    padding: 12px 18px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover {
    color: #F25822;
    font-family: Gilroy-Semibold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link_button {
    margin-left: 20px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 12px 27px;
    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.menu__link_button:hover {
    background: #2915e0;
}

.top__content {
    margin-top: 82px;
    margin-bottom: 162px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}


.top__info__title {
    width: 522px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__info__text {
    width: 466px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__buttons {
    margin-top: 37px;
    display: flex;
    justify-content: flex-start;
    gap: 27px;
}

.top__content__link {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 35px;
    color: #fff;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button:hover {
    background: #2915e0;
}

.link_align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.content__blocks {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 100px;
}

.item {
    width: 370px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;
    gap: 30px;
    border-radius: 10px;
}

.item__center {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}


.content__block__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: start;
}

.content__block__text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.content__block__link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.choose {
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
}

.choose__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin-bottom: 31px;
}

.choose__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choose__description {
    width: 682px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.choose__blocks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.choose__item {
    width: 370px;
    background: #FFF;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    gap: 30px;
}

.align_block {
    padding-top: 15px;
}

.choose__block__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choose__block__text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.choose__block__link {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.choose__button {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 25px 15px 45px;
    color: #fff;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choose__button:hover {
    background: #2915e0;
}

.choose__link_img {
    padding-top: 3px;
}

