* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.menu__bar {
    margin-top: 40px;
}    

.menu {
    margin-top: 11px;
    margin-bottom: 12px;
}

.top__content {
    margin-top: 82px;
    margin-bottom: 162px;
}

.top__info__title {
    margin-bottom: 17px;
}

.top__buttons {
    margin-top: 37px;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
}